# 這個.env是給本地開發用的(This .env is for localhost.)

NODE_ENV=production

# 後端啟動的埠號，預設是 3000
PORT=3000

# MongoDB 連線字串
# 範例 mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=